body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}

.green-background {
  background: #265946!important;
}

.grey-background {
  background-color: #1D2939;
}

.header-title {
  font-size: 4.5rem;
  line-height: 1;
}

.contact-btn {
  text-transform: none !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  padding: 10px 20px !important;
  color: white !important;

  background: #265946!important;
  border: 1px solid #9CC84B!important;
}

.linear-gradient-border {
  border: 1px solid #9CC84B !important;
}

.column-container {
  border-radius: 20px;
  text-align: left;
  margin: 30px;
  background-color: #1D2939;
}

.access-column {
  border: 1px solid #9CC84B!important;
  min-height: 320px;
  width: 294px;
}

.remaining-seats-column {
  padding: 0!important;
  min-height: 400px;
  width: 294px;
  margin: 0!important;
}

.remaining-seats-column p {

  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 222px;

  text-align: center;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 110%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/*.access-column-icon-container {*/
/*  height: 170px;*/
/*  background: #131313;*/
/*  border-radius: 0px 0px 40px 40px;*/
/*  width: 114px;*/
/*}*/

.access-column p {
  margin-left: 20px;
  margin-right: 20px;
}

.access-column-icon-container img {
  margin-top: 60.42%;
}

.access-column-title {
  color: #FFFFFF;
}

.market-column {
  min-height: 300px;
  width: 401px!important;
  padding: 10px;
}

.picture-separator-section {
  background-image: url("../../../assets/images/programming.jpeg");
  height: 406px;
  width: 100%;
  background-size: cover;
  border-radius: 20px;
}

.contact-input {
  border-radius: 14px!important;
  color: rgba(255, 255, 255, 1)!important;
}

.contact-section {
  border-top: 1px solid rgba(255, 255, 255, 0.48);
  border-bottom: 1px solid rgba(255, 255, 255, 0.48);
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-container {
  max-width: 1440px!important;
}

.contact-form-container {
  justify-content: flex-end
}

.contact-description-container {
  justify-content: flex-start!important;
  padding: 20px;
}

.cookies-container {
  -webkit-box-shadow: 5px 5px 25px 5px rgba(255,255,255,0.22);
  box-shadow: 5px 5px 25px 5px rgba(255,255,255,0.22);
}

.header-subtitle {

  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  color: #B9C0D4;
}

/* MediaQuery */
@media only screen and (max-width: 600px) {
  .remaining-seats-column {
    width: 162px;
    min-height: 223px;
  }

  .remaining-seats-column p {
    font-size: 100px;
    line-height: 117px;
  }
}

@media only screen and (max-width: 1024px) {
  .contact-description-container {
    justify-content: center!important;
  }

  .header-title {
    font-size: 3.5rem;
  }

  .contact-form-container {
    margin-top: 40px;
    justify-content: center!important;
  }

  .footer-container {
    padding: 30px;
  }

  .picture-separator-container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .price-column-container {
    justify-self: center!important;
    margin-top: 10px;
  }
}

/* Override Daisy Css */
.max-w-xs {
  max-width: 25rem!important;
}

.footer-anchor a {
  text-decoration: underline;
}

.modal-box {
  border-radius: 20px!important;
}


.PhoneInputInput {
  background-color: black!important;
  outline: 0!important;
}

.PhoneInputCountrySelect {
  background-color: black!important;
  color: white!important;
}
